{{ define "content"}}
<section class="container mt-6 column is-5">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Warehouse name" />
    </div>
  </div>
  <div class="field">
    <label class="label">Location</label>
    <div class="control">
      <input class="input" type="text" placeholder="Location" />
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea class="textarea" placeholder="Description"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Create Inventory</button>
    </div>
  </div>
</section>

{{ end }}
