{{ define "content"}}
<section class="container mt-6 column is-5">
  <form action="/inventory/update?id={{ .ID }}" method="post">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Inventory name"
          name="name"
          value="{{ .Name}}"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Price ($)</label>
      <div class="control">
        <input
          class="input"
          type="number"
          placeholder="Inventory price in $"
          name="price"
          value="{{ .Price}}"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <div class="select">
          <select name="category">
            <option value="television">Television</option>
            <option value="desktop">Desktop</option>
            <option value="keyboard">Keyboard</option>
            <option value="mouse">Mouse</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Quantity</label>
      <div class="control">
        <input
          class="input"
          type="number"
          placeholder="Inventory Quantity"
          name="quantity"
          value="{{ .Quantity}}"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Manufacturer</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Inventory name"
          name="manufacturer"
          value="{{ .Manufacturer }}"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea
          class="textarea"
          placeholder="Description"
          name="description"
          value="{{ .Description}}"
        ></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Warehouse</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Berlin</option>
            <option>London</option>
            <option>Dublin</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Create Inventory</button>
      </div>
    </div>
  </form>
</section>

{{ end }}
