{{ define "content"}}
<section class="container mt-6 column is-11">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-2">Inventories</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a href="/inventory/new" class="button is-medium is-primary is-light">
          Create Inventory
        </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <table class="table is-striped">
        <thead>
          <tr>
            <th><abbr title="Position">ID</abbr></th>
            <th>Name</th>
            <th>SKU</th>
            <th>Description</th>
            <th>Price($)</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Manufacturer</th>
            <th>Warehouse</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{ range . }}
          <tr>
            <th> {{ .ID }}</th>
            <td>{{ .Name }}</td>
            <td>{{ .SKU }} </td>
            <td>{{ .Description }}</td>
            <td>{{ .Price }}</td>
            <td>{{ .Category }}</td>
            <td>{{ .Quantity }}</td>
            <td>{{ .Manufacturer }}</td>
            <td>{{ .Warehouse}}</td>
            <td>
              <div class="buttons">
                <a href="/inventory/view?id={{ .ID }}"  class="button is-primary">
                  <strong>View</strong>
                </a>
                <a href="/inventory/edit?id={{ .ID }}" class="button is-warning">
                  <strong>Edit</strong>
                </a>
                <a href="/inventory/delete?id={{ .ID }}" class="button is-danger"> Delete </a>
              </div>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</section>

{{ end }}
